$borderColor: #D9D9D9;
$underlineColor: #636363;
$underlineHeight: 5%;
$portfolioItemDimension: 200px;
$pageColor: #FCFCFC;

@media (min-width: 482px)  {
  .header__home-link {
    left: 10%;
  }
  .header__portfolio-links {
    right: 10%;
  }

}

@media (max-width: 481px) {
  .header__home-link {
    left: 20%;
  }
  .header__portfolio-links {
    display: None;
    width: 0px;
    right: 20%;
  }
}

.header {
  background: white;
  position: fixed;
  width: 100%;
  .header__top-bar {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid $borderColor;
  }

    .header__portfolio-links {
      margin: 0px auto;
      display: inline-block;
      position: relative;
      float: right;
    }

    .header__portfolio {
      box-shadow: #D9D9D9 0px 1px 5px;
      padding-left: 10%;
      padding-right: 10%;

      .header__portfolio__item {
        &.is-expanding {
          animation: Expand-Header 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }

        &.is-minimizing {
          animation: Minimize-Header 0.5s ease-in-out;
          animation-fill-mode: forwards;
        }
      }
    }
}
