h1, h2, h3, h4, h5, a, button, p {
  font-family: 'Lato', sans-serif;
  font-variant-ligatures: no-common-ligatures;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 3.5rem;
  letter-spacing: .7em;
  line-height: 1.3em;
  text-transform: uppercase;
  color: #636363;
  text-indent: .7em;
  font-weight: 300;
}

h2 {
  font-size: 3.0rem;
  line-height: 1.2em;
  letter-spacing: .7em;
  text-indent: .7em;
  font-weight: 300;
  text-transform: lowercase;
  color: #636363;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 28px;
  color: #595959;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  text-indent: 8px;
  font-size: 1.2rem;
  line-height: 16px;
  text-transform: uppercase;
  color: #636363;
}

h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  color: #636363;

}



p {
  font-size: 1.4rem;
  font-weight: 300;
  white-space: pre-wrap;
  letter-spacing: 2px;
  color: #333333;
  line-height: 22px;
}

a {

}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {


}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {


}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {


}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 767px) {
  h1, h2, h3, h4, h5, a {
    white-space: normal;

  }
}
@media  (max-width: 767px) {
  h1, h2, h3, h4, h5, a, p {
    text-align: center;

  }

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 481px) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: .7em;
    line-height: 1.3em;
    text-transform: uppercase;
    color: #636363;
    text-indent: .7em;
  }

  h2 {
    font-size: 3.0rem;
    line-height: 1.2em;
    letter-spacing: .7em;
    text-indent: .7em;

    text-transform: lowercase;
    color: #636363;
  }
}

@media (min-width: 320px) and (max-width: 480px) {

  h1, h2, h3, h4, h5, a, p {
    text-align: center;
  }
  h3 {
    text-indent: 3px;
  }
  h1 {
    font-size: 3.0rem;
    letter-spacing: .5em;
    white-space: normal;
    line-height: 1.3em;


  }
  h2 {
    font-size: 3.0rem;
    letter-spacing: .5em;
    white-space: normal;
    text-indent: .5em;

  }

}
