$pageColor: #FAFAFA;
$borderColor: #D9D9D9;
@media (min-width: 768px)  {
  .portfolio__nav__link {

    .portfolio__nav__link__title {
      display: none;
    }
    &:hover {
      .portfolio__nav__link__title {
        margin: 0px 5px 0px 5px;
        display: inline-block;
      }
    }
  }
}

@media (max-width: 767px) {

  .portfolio__nav__link__title {
    display: none;
  }
}

.portfolio {
  .portfolio__nav {
    .portfolio__nav__link--next {
      right: -1px;
      float: right;
      text-align: right;
    }
    .portfolio__nav__link--previous {
      left: -1px;
      float: left;
      text-align: left;
    }

    .portfolio__nav__chevron {
        width: 20px;
        height: 20px;
        vertical-align: middle;
    }

    .portfolio__nav__link {
      color: #333;
      position: fixed;
      top: 45%;
      padding: 1.2em;
      border: solid #ccc thin;
      opacity: 0.5;
      background: #FFFFFF;
      transition: all ease 0.2s;
      &:hover {
        opacity: 1
      }

    }
  }

  .portfolio-page {
    margin-top: 75px;
    .portfolio-page__section {
      margin: 40px 20px;
    }

    .portfolio-page__section__body {
      display: flex;
      margin: auto 40px 20px;
      justify-content:space-around;
    }

    .portfolio-page__section__title {
      text-align: center;
      margin: 40px auto;
      text-transform: lowercase;
    }

    .portfolio-page__skills {
      display: block;
      text-align: center;

      .portfolio-page__skills__table {
        margin: auto;
        display: inline-block;

      }

      .portfolio-page__skills__row{
        display: block;
      }

        .portfolio-page__skills__table__key {

          float: left;
          font-weight: 400;
          width: 120px;
          margin: auto 20px auto auto;
          text-align: left;
        }

        .portfolio-page__skills__table__description {
          margin: auto;
          text-align: left;
          display: table-row-group;
        }


    }
    .portfolio-page__banner {
      width: 100%
    }

    .portfolio-page__body {
        max-width: 800px;
        min-height: calc(100vh - 90px);
        margin: auto;
        border-left: 1px solid $borderColor;
        border-right: 1px solid $borderColor;
        box-shadow: #D9D9D9 0px 0px 8px;
        background-color: white;
        padding-bottom: 20px;
    }

    .portfolio-page__tasks {
      padding-right: 40px;
    }

  }
  .portfolio-page__wireframe-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */

    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */

    &.is-expanded {
      visibility: visible;
    }

    &.is-minimized {
      visibility: hidden;
    }
  }

  .portfolio-page__wireframe-modal__content {
      margin: auto;
      display: block;
      max-width: 200%;
      overflow: auto;
      padding-top: 80px;
      padding-bottom: 40px;

  }

  .portfolio-page__wireframe-modal__close-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
  }

  .portfolio-page__wireframe-modal__close-wrapper__close {
    position: fixed;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    &:hover,
    &:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
  }

  .portfolio-page__social-media {

    text-align: center;
    margin-left: -40px;

    img {
      width: 35px;
      height: 35px;
      margin: auto 40px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: solid $pageColor 0px;
      border-top: solid white 3px;
      transition: all 0.15s ease-in-out;
      opacity: 0.8;


      &:hover {
        border-bottom: solid white 3px;
        border-top: solid white 0px;
        opacity: 1;
      }
    }

    a {
      width: 35px;
      height: 35px;
    }
  }
}
