$pageColor: #FAFAFA;
$borderColor: #D9D9D9;
$underlineColor: #636363;

.auto-oms {

  &__design__text,  &__investment__text{
    margin: auto 0px;
    width: 100%;
    max-width: 300px;
    display: inline-block;
  }

  &__wireframe {
    width: 100%;
    max-width: 288px;
    transition: all 0.2s ease-in-out;
    margin: auto 0px;
    cursor: pointer;

    &__image {
      width: 100%;
      border: solid 1px $borderColor;
      padding: 2px;
      box-shadow: 1px 1px 2px $borderColor;
    }

     &__description {
      margin: 4px auto;
      transition: all 0.1s ease-in-out;
      text-align: center;
    }
  }

  &__product__portal-image {

    width: 100%;
    max-width: 288px;
    max-height: 247px; //85.525% of max width
    text-align: center;
    margin: auto 0px;
  }


  &__product__text {
    width: 100%;
    max-width: 325px;
    margin: auto 0px;
  }



}
