$underlineColor: #636363;
$underlineHeight: 5%;
$portfolioItemDimension: 250px;
$pageColor: #FCFCFC;
html {
  height: 100%;
  background: $pageColor;
}

body {
  margin: 0px;
}

a, button {
  text-decoration: none;
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: inherit;
  max-width: inherit;
}
