$underlineColor: #636363;
$underlineHeight: 5%;
$portfolioItemDimension: 250px;
$pageColor: #FCFCFC;
html {
  height: 100%;
  background: $pageColor;
}

a, button {
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0px;
}

a, button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: inherit;
    max-width: inherit;
}
