$underlineColor: #636363;
$underlineHeight: 5%;
$portfolioItemDimension: 250px;
$pageColor: #FCFCFC;

.transition-border {
  border-top: solid $pageColor 3px;
  margin-top: -3px;
  transition: box-shadow ease-in-out 0.1s, border-top ease-in-out 0.1s, border-bottom ease-in-out 0.1s;
  &:hover {
    box-shadow: #999 0 3px 15px !important;
    border-bottom: solid #737373 3px;
    border-top: solid white 0px !important;
  }
}
