$pageColor: #FAFAFA;
$borderColor: #D9D9D9;

.bac {

  &__banner {
    width: 100%;
  }

  &__body {
    max-width: 800px;
    min-height: 1000px;
    margin: 0px auto 0px;

    background-color: #FFFFFF;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
    box-shadow: #D9D9D9 0px 0px 8px;

    &__tasks {
      padding-right: 40px;
    }

  }

  &__automation__image {
    width: 100%;
    height: 28.95%;
  }
  &__riskManagement {
    &__image {
      width: 60%;
      height: 37.35%
    }

    &__text {
        margin: auto;
    }
  }

  &__stressTesting {
    &__image-group {
      width: 100%;
      max-width: 450px;
      margin:auto;
    }

    &__text {
      width: 100%;
    }

    &__image {
      width: 100%;
    }

    &__imageDescription {
      font-weight: 400;
      letter-spacing: 3px;
      font-size: 10px;
      color: #636363;
      text-align: center;
      margin: 5px auto;
    }
  }
}
