.app {
  text-align: center;
}
@media (min-width: 768px) {
  .app {
    //125px is top bar height
    top: 125px;
    &.is-scrolling {
      //the header becomes a top bar with fixed positioning so we need to the padding to replace it
      padding-top: 125px;
    }
  }
}

@media (max-width: 767px) {
  .app {
    //75px is top bar height
    top: 75px;
  }
}

.app {
  position: absolute;
}
