.about {
    max-width: 1000px;
    min-height: calc(100vh - 90px);
    margin: auto;
    padding-bottom: 20px;

    .about__section {
      display: flex;
      margin: auto auto 40px;
      justify-content: space-between;
      width: 95%;

      .about__section__image {
        max-width: 350px;
        width: 95%;
        margin: auto;
        .about__section__image__desc {
          margin-top: 5px;
          font-size: 1.2rem;
          line-height: 1.5em;
          letter-spacing: .1em;
          color: #636363;
          font-weight: 300;

        }
      }

      .about__section__desc {
        margin: auto;
        text-align: left;
        max-width: 350px;
      }
    }
}
