@media (min-width: 768px) {
  .landing-page {
    top: 125px;
    &.is-scrolling {
      padding-top: 125px;
    }
  }
}

@media (max-width: 767px) {
  .landing-page {
    top: 75px;
  }
}

.landing-page {
  position: absolute;
}
