.partner-apps {
  .partner-apps__product__iphone-image {

      margin: auto 20px;
      width: 30%;
      height: 50.1%;
      text-align: center;
  }


  .partner-apps__product__text {
    width: 50%;
    display: inline-block;
    margin: auto 20px;
  }
}
