.white-label-apps {
  .white-label-apps__product__iphone-image {

      width: 100%;
      max-width: 200px;
      max-height: 406px;
      text-align: center;
  }


  .white-label-apps__product__text {
    width: 100%;
    max-width: 330px;
    margin: auto 0px;
  }

  .white-label-apps__timeline {
    .white-label-apps__timeline__image {
      width: 100%;
      margin: 40px auto;
    }
  }
}

figure {
  width: 60%; margin: 0 auto;
  margin-bottom: 2rem;
}
figure img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}
