$underlineColor: #636363;
$underlineHeight: 5%;
$portfolioItemDimension: 250px;
$pageColor: #FCFCFC;

@media (min-width: 768px)  {
  .links__header__icon {
    display: none;
  }
  .home-link--mobile {
    display: none;
  }
  .links__link {
    &::before {
      width: calc(100% - 16px);
      margin-left: 8px;
    }
  }
}

@media (max-width: 767px) {
  .links__header__text {
    display: none;
  }

  .home-link--desktop {
    display: none;
  }

  .links__divide {

    display: none;
  }

  .links__link {
    &::before {
      width: calc(100% + 8px);
      margin-left: -4px;
    }
  }
}

.links {


  .links__link {
    float: left;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 1px;
      bottom: -2px;
      left: 0;
      background-color: $underlineColor;
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
    }

    &:hover::before {
      -webkit-transform: scaleX(1);
      transform: scaleX(1);
    }

    img:hover{
      opacity: 1;
    }
    &.is-active {

      img {
          opacity: 1;
        }

      &::before {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
      }
    }
  }


  .links__divide {
    float: left;
    margin: 0px 20px;
    font-size: 12px;
    font-family: "Lato", sans-serif;
    font-weight: 400px;
  }

  .links__header__icon {
    height: 30px;
    opacity: 0.5;
  }
}

.links--landing-page {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 300px;
  width: 100%;
  justify-content: space-around;
}
