h1, h2, h3, h4, h5, a, p {
  font-family: 'Lato', sans-serif;
  white-space: pre-wrap;
}

h1 {
  font-weight: 300;
  font-size: 3.5rem;
  letter-spacing: .69em;
  padding-left: .69em;
  line-height: 1.1em;
  text-transform: uppercase;
  color: #636363;
}

h2 {
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: .7em;
  padding-left: .7em;
  line-height: 1.2em;
  text-transform: lowercase;
  color: #636363;
}

h3 {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 28px;
  line-height: 36px;
  color: #595959;



}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 8px;
  padding-left: 8px;
  font-size: 1.2rem;
  line-height: 16px;
  text-transform: uppercase;
  color: #636363;
}

h5 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 1rem;
  color: #636363;

}
p {
  font-size: 1.4rem;
  font-weight: 300;
  white-space: pre-wrap;
  letter-spacing: 2px;
  color: #333333;
  line-height: 22px;


  // booninvestments.scss
  // font-size: 12px;
  // font-weight: 300;
  // white-space: pre-wrap;
  // letter-spacing: 2px;
  // color: #636363;
  // text-transform: none;
  // line-height: 22px;

  // sunrun.scss
  // text-transform: none;
  // letter-spacing: 1.5px;
  // font-family: "Lato", sans-serif;
  // font-weight: 400;
  // font-size: 12px;
  // line-height: 18px;

  //
  //header.scss
  // display: table-cell;
  // vertical-align: middle;
  //
  // margin: 0px auto;
  // font-size: 9px;
  // letter-spacing: 10px;
  // line-height: 12px;
}

a {

}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media  (max-width: 767px) {
  h1, h2, h3, h4, h5, a, p {
    text-align: center;
  }
  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  //CSS
  h1, h2, h3, h4, h5, a, p {
    text-align: center;
  }

}
