$pageColor: #FCFCFC;

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height:50px;
  text-align: center;
  display: inline-block;

  .footer-links {
    display: flex;
    margin: auto auto 20px;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;
  }
  .footer-link {
    float: left;
    border-bottom: solid $pageColor 0px;
    border-top: solid $pageColor 3px;
    transition: all 0.15s ease-in-out;

    .footer-link__name {
      display: block;
      font-size: 10px;
      letter-spacing: 1px;
      opacity: 0;
      transition: all 0.15s ease-in-out;

      margin: 5px auto;
      text-align: center;
    }

    a {
      height:40px ;
      width: 40px;
      margin:auto;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      display: block;
      //
      // &:hover::after {
      //   position: relative;
      //   width: calc(100% + 3px);
      //   font-size: 8px;
      //   color: #636363;
      //   display: block;
      //   content: "LinkedIn"
      // }


    }

    .footer-link__image {
      transition: all 0.15s ease-in-out;
      background-size: 40px 40px;

    }
    .linkedin {
      background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/linkedin-80.jpg');
      transition: all 0.15s ease-in-out;
    }
    .angel-list {
      background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/angel-list-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    .github {
      background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/github-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    .mail {
      background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/mail-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    .resume {
      background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/resume-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    &:hover {
      border-bottom: solid $pageColor 3px;
      border-top: solid $pageColor 0px;

      .footer-link__name {
        opacity: 1;
      }

      .footer-link-image {

      }

      .linkedin {
        background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/linkedin-hover-80.jpg');
      }
      .angel-list {
        background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/angel-list-hover-80.jpg');
      }
      .github {
        background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/github-hover-80.jpg');
      }
      .mail {
        background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/mail-hover-80.jpg');
      }
      .resume {
        background-image: url('https://s3.amazonaws.com/jtb-personal-website/images/resume-hover-80.jpg');
      }
    }



  }

}
