$pageColor: #FCFCFC;

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height:50px;

  margin: 20px auto 20px;
  text-align: center;
  display: inline-block;

  .footer-links {
    display: flex;
    margin: auto;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;

    a {
      color: rgba(0,0,0,0);
      height:40px ;
      width: 40px;
      margin:auto;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      display: block;
    }

    .footer-link__image {
      background-size: 80px 40px;
      background-repeat: no-repeat;
      background-position: 0px;
    }
    
    .linkedin {
      background-image: url('https://johnborkowski.me/images/linkedin-sprite-80.jpg');
    }

    .angelist {
      background-image: url('https://johnborkowski.me/images/angel-list-sprite-80.jpg');
    }

    .github {
      background-image: url('https://johnborkowski.me/images/github-sprite-80.jpg');
    }

    .email {
      background-image: url('https://johnborkowski.me/images/email-sprite-80.jpg');
    }
    .resume {
      background-image: url('https://johnborkowski.me/images/resume-sprite-80.jpg');
    }

    .footer-link__name {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .footer-link {
      float: left;
      border-bottom: solid $pageColor 0px;
      border-top: solid $pageColor 3px;
      &:hover {
        .footer-link__name {
          opacity: 1;
        }

        .footer-link__image {
          background-position: -40px;
        }
      }

      .footer-link__name {
        display: block;
        font-size: 10px;
        letter-spacing: 1px;
        opacity: 0;
        margin: 5px auto;
        text-align: center;
      }
    }
  }
}

@media (max-width: 767) {
  .footer-link__name {
    display: none;
  }
}
