$pageColor: #FCFCFC;

.footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height:50px;
  margin: auto auto 20px;
  text-align: center;
  display: inline-block;

  .footer-links {
    display: flex;
    margin: inherit;
    justify-content: space-between;
    width: 90%;
    max-width: 800px;

    a {
      color: rgba(0,0,0,0);
      height:40px ;
      width: 40px;
      margin:auto;
      text-decoration: none;
      font-family: "Lato", sans-serif;
      text-transform: uppercase;
      letter-spacing: 3px;
      font-weight: 400;
      display: block;
    }

    .footer-link__image {
      transition: all 0.15s ease-in-out;
      background-size: 40px 40px;

    }
    .linkedin {
      background-image: url('https://johnborkowski.me/images/linkedin-80.jpg');
      transition: all 0.15s ease-in-out;
    }
    .angelist {
      background-image: url('https://johnborkowski.me/images/angel-list-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    .github {
      background-image: url('https://johnborkowski.me/images/github-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    .email {
      background-image: url('https://johnborkowski.me/images/mail-80.jpg');
      transition: all 0.15s ease-in-out;

    }
    .resume {
      background-image: url('https://johnborkowski.me/images/resume-80.jpg');
      transition: all 0.15s ease-in-out;

    }

    .footer-link__name {
      display: none;
    }
  }
}

@media (min-width: 768px) {


  .footer {

    .footer-link {
      float: left;
      border-bottom: solid $pageColor 0px;
      border-top: solid $pageColor 3px;
      transition: all 0.15s ease-in-out;
      &:hover {
        border-bottom: solid $pageColor 3px;
        border-top: solid $pageColor 0px;

        .footer-link__name {
          opacity: 1;
        }

        .linkedin {
          background-image: url('https://johnborkowski.me/images/linkedin-hover-80.jpg');
        }
        .angelist {
          background-image: url('https://johnborkowski.me/images/angel-list-hover-80.jpg');
        }
        .github {
          background-image: url('https://johnborkowski.me/images/github-hover-80.jpg');
        }
        .email{
          background-image: url('https://johnborkowski.me/images/mail-hover-80.jpg');
        }
        .resume {
          background-image: url('https://johnborkowski.me/images/resume-hover-80.jpg');
        }
      }

      .footer-link__name {
        display: block;
        font-size: 10px;
        letter-spacing: 1px;
        opacity: 0;
        transition: all 0.15s ease-in-out;
        margin: 5px auto;
        text-align: center;
      }
    }
  }
}

@media (max-width: 767) {
  .footer-link__name {
    display: none;
  }
}
